html, body, h1, h2, h3, h4, ul, li, ol, dl, dt, dd, p, form, fieldset, label, img, table, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  border: 0;
}
html {
  font: normal normal 20px/1.3 Times New Roman, Georgia, serif;
  -webkit-text-size-adjust: none;
}

@media (max-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #030303;
  background: #fff;
}
.application_container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.application_header {
  box-sizing: border-box;
  max-width: 33rem;
  padding: calc(.75rem - 3px) calc(1rem - 3px);

  letter-spacing: 2px;
  text-transform: uppercase;

  border: 3px solid #000;
  background: #ffc0c0;

  font-size: .9rem;
  line-height: 1.16;
}

.application_header-title {
  font-weight: bold;
}
.post {
  padding: 4rem 0 0;
}
.post p {
  margin: 0 0 1.5rem;
}

.post-header {
  padding: 0 1rem;
}

.post-title {
  padding: 0 0 .25rem;

  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
}

.post-date {
  letter-spacing: 2px;
  text-transform: uppercase;

  font-size: .7rem;
  line-height: 1.14;
}

.post-contents {
  box-sizing: border-box;
  max-width: 33rem;
  padding: 1rem;
}
